@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Doppio+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
:root {
  font-family: Roboto;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #1cb0f6;
  --secondary-color: #a1b7c1;
  --button-font-size: 14px;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body {
  margin: 0;
  height: 100%;
}

.primary-btn {
  font-family: Roboto;
  font-size: var(--button-font-size);
  color: white;
  background-color: var(--primary-color);
  width: 106px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: filter 0.2s ease;
}

.primary-btn:hover {
  filter: brightness(90%);
}

.secondary-btn {
  font-family: Roboto;
  font-size: var(--button-font-size);
  color: black;
  background-color: var(--secondary-color);
  width: 106px;
  height: 40px;
  border-style: solid;
  border-color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: filter 0.2s ease;
}

.secondary-btn:hover {
  filter: brightness(90%);
}

nav {
  top: 0;
  background-color: white;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  border-bottom: 1.5px solid var(--secondary-color);
  padding-bottom: 7px;
  margin-bottom: 100px;
  z-index: 1;
}

.right-side-nav {
  display: flex;
  justify-content: flex-start;
  margin-top: 12px;
  width: 300px;
  button {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.logo p {
  font-family: Doppio One;
  color: var(--primary-color);
  margin-left: 25px;
  transform: translate(0%, 17%);
}
.logo-link {
  text-decoration: none;
}
.SearchSection {
  height: 140px;
  margin-top: 65px;
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  * {
    margin: 3px;
  }
  p {
    font-family: Secular One;
    font-size: 20px;
  }
  input:focus {
    outline-style: outset;
    outline-color: var(--secondary-color);
  }
}

.destination-input {
  margin-left: 30px;
  width: 400px;
  padding: 14px;
  border: 1.6px solid var(--secondary-color);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.checkbox-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-header {
  cursor: pointer;

  padding: 10px;
  border: 1.6px solid var(--secondary-color);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dropdown-header i {
  float: right;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-content label {
  display: block;
  margin-bottom: 5px;
}

.dropdown-content label input {
  margin-right: 5px;
}

.dropdown-content label:hover {
  background-color: #f0f0f0;
}

.dropdown-content label input:checked + span {
  font-weight: bold;
}

.dropdown-content label input:checked + span::before {
  content: "\2713";
  display: inline-block;
  margin-right: 5;
}
.guest-input {
  padding: 13px;
  border: 1.6px solid var(--secondary-color);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
main {
  padding: 0px;
  min-height: fit-content;
  display: flex;
  flex-wrap: wrap;

  margin: 0px 30px 0px 30px;
}
main:last-child .house-card {
  flex-basis: auto;
  margin-right: 0;
}
footer {
  margin-top: auto;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: fit-content;
}
footer p {
  font-family: Doppio One;
  color: black;
  margin-right: 0px;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}
.openModal {
  font-family: sans-serif;
  background: none;
  border: none;
  cursor: pointer;
}
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 80%;
}
.modals-container {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer-icons {
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 25px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 30px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

.house-card {
  flex: 0 0 275px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f8f6f6;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 275px;
  margin: 0px 10px 30px 10px;
}

.house-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.house-details {
  padding: 20px;
}

.house-title {
  margin: 0 0 10px;
  font-size: 18px;
}

.house-location {
  margin: 0;
  color: #666;
}

.house-price {
  margin: 10px 0 0;
  font-size: 16px;
}
.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  height: 400px;
  margin: 9px 0px 9px 0px;
  transform: translateX(30%);
}

.slide {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px #666;
  width: 100%;
  height: 100%;
}

.slide-hidden {
  display: none;
}

.arrow {
  position: absolute;
  filter: drop-shadow(0px 0px 5px #555);
  width: 2rem;
  height: 2rem;
  color: white;
}

.arrow:hover {
  cursor: pointer;
}

.arrow-left {
  left: 1rem;
}

.arrow-right {
  right: 1rem;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.indicator {
  background-color: white;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.2rem;
  cursor: pointer;
}

.indicator-inactive {
  background-color: grey;
}
.listing-details-page {
  display: flex;
  flex-direction: column;
  h2 {
    margin-top: 70px;
    padding-top: 10px;
    position: relative;
  }
  h2,
  h3 {
    margin-left: 30px;
  }
}
