.listing-button-container {
  display: flexbox;
}

.listing-button {
  background-color: rgb(255, 255, 255);
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer; /* Remove cursor hover effect */
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-right: -270px;
  transition: 0.3s ease;
  margin-left: 350px;
  border-color: #b9afaf;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}

.listing-button:hover img {
  transform: scale(1.1);
}
.listing-button:hover {
  transform: scale(1.1);
}
.listing-button img {
  width: 50px;
  height: 50px;
}

.listing-button span {
  margin-top: 5px;
  color: black;
}

.listing-button.active {
  color: black;
  border-color: black;
}
h1 {
  margin: 60px;
  margin-left: 260px;
  margin-top: 20px;
  color: black;
}

label {
  display: inline-flex;
  margin-left: 350px;
}
h2 {
  font-size: 27px;
  color: black;
  margin: 25px;
  margin-left: 50px;
}
.first_step h2 {
  font-size: 35px;
  color: black;
  margin: -5px;
  margin-left: 50px;
  text-decoration: underline;
}

.first_step p {
  margin-left: 45px;
  font-size: 18px;
  color: black;
}
.button-container h2 {
  font-size: 27px;
  color: black;
  margin: 25px;
  margin-left: 50px;
}
.amenities p {
  font-size: 18px;
  margin-left: -50px;
  color: black;
  font-weight: 1000;
}
.guests {
  background-color: gray;
  padding: 20x;
  width: 170px;
  height: 40px;
  text-align: center;
  border-radius: 8px;
  margin: 10px;
}
.decguests {
  height: 40px;
  margin: 10px;
  width: 40px;
  font-size: 10px;
  background-color: gray;
  margin-left: 50px;
  color: #fff;
  border-color: rgb(193, 193, 193);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease;
}
.incguests {
  height: 40px;
  margin: 10px;
  width: 40px;
  font-size: 10px;
  text-align: center;
  background-color: gray;
  color: #fff;
  border-color: rgb(193, 193, 193);
  margin-left: 9px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.incguests:hover {
  border-color: black;
}
.decguests:hover {
  border-color: black;
}
.second_step h2 {
  font-size: 35px;
  color: black;
  margin-left: 50px;
  text-decoration: underline;
}
.amenities label {
  align-items: center;
}
.amenities input {
  background-color: #fff;
}
.amenities input {
  margin: 10px;
  width: 25px;
  height: 25px;
  flex-direction: column;
  cursor: pointer;
  display: inline-flex;
  margin-left: -200px;
}
.amenities p {
  font-size: 15px;
  margin-left: 5px;
  text-align: center;
}
.index {
  flex-direction: column;
  display: inline-flex;
  align-items: center;
  align-self: center;
}
textarea {
  color: rgb(0, 0, 0);
  display: block;
  width: 700px;
  margin: 0px;
  box-sizing: border-box;
  background-color: transparent;
  border-color: black;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  resize: vertical;
  padding: 16px;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
  overflow-y: hidden;
  border-radius: 8px;
}
.price_per_night {
  display: inline-flex;
}
.price_per_night input {
  background-color: transparent;
  color: #000000;
  border: none;
  outline: none;
  height: 210px;
  font-size: 90px;
  width: 28%;
  margin-left: 350px;
  text-align: center;
}
.payment-button {
  background-color: white;
  border: 2px solid transparent;
  border-radius: 8px;
  width: 500px;
  height: 100px;
  cursor: pointer; /* Remove cursor hover effect */
  flex-direction: column;
  margin-right: -270px;
  transition: 0.3s ease;
  border-color: gray;
  margin-left: 350px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  display: inline-flex;
}
.paymentMeth img {
  width: 45px;
  height: 40px;
  margin-top: -45px;
  margin-left: 410px;
}
.payment-button img {
  transform: scale(1.1);
}
.payment-button:hover {
  transform: scale(1.1);
  border-color: black;
  outline: none;
  border: 2px solid black;
}
.payment-button.active {
  border-color: black;
}
button[type="submit"] {
  background-color: rgb(0, 0, 0);
  border: 2px solid transparent;
  border-radius: 8px;
  width: 250px;
  height: 60px;
  cursor: pointer; /* Remove cursor hover effect */
  flex-direction: column;
  margin-right: -270px;
  margin-top: 50px;
  transition: 0.3s ease;
  border-color: gray;
  margin-left: 470px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  display: inline-flex;
}
